includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/mpietrucha/support/extension.neon
    - extension.neon
parameters:
    level: max
    paths:
        - src
        - phpstan
        - analyze
